version: '3.8'
services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: ajay
      POSTGRES_PASSWORD: password
      POSTGRES_DB: whatsapp_db
    ports:
      - "5432:5432"
    deploy:
      resources:
        limits:
          cpus: '2.0'
          memory: 2G

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  # NEW: The Metrics Collector
  prometheus:
    image: prom/prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    extra_hosts:
      - "host.docker.internal:host-gateway" # Allows Docker to see your Windows Java App

  cassandra:
    image: cassandra:4.1
    ports:
      - "9042:9042"
    environment:
      - CASSANDRA_CLUSTER_NAME=whatsapp_cluster
      - CASSANDRA_DC=datacenter1
      # NEW: Force Heap to 1GB so we don't crash the container
      - MAX_HEAP_SIZE=1024M
      - HEAP_NEWSIZE=256M
    deploy:
      resources:
        limits:
          memory: 2G
  # NEW: The Dashboard
  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - prometheus